@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

div .mernstack {
  font-size: 44px;
  font-weight: 900;
  color: #ff4d29;
}
:root {
  --brand: #ff4d29;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Macondo", cursive;
  /*  font-family: "Barlow", sans-serif; */
  color: var(--body);
  line-height: 1.7;
  background-color: #0f172a;
  color: #fff;
}

.hero {
  background-image: url(../img/cover.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(198, 198, 216, 0.8); */
  z-index: -1;
}

/* start resume */
.resume-title {
  font-size: 25px;
  color: rgb(252, 252, 255);
}
.Resume {
  text-align: center;
}
.resume-vew {
  font-size: 35px;
}
.Resume input {
  background-color: #474343;
  margin-top: 75px;
  color: #d6e0eb;
}

/* skills */

.skills {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}

.html {
  width: 90%;
  background-color: #04aa6d;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 95%;
  background-color: #f44336;
}
.php {
  width: 90%;
  background-color: #808080;
}

/* skills */

/* resume end */

/* project */

.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
  color: white;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

a {
  color: var(--dark);
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: var(--brand);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-brand {
  color: var(--brand) !important;
}

/* navbar */
.top-nav {
  background-color: var(--brand);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
}

.navbar {
  box-shadow: var(--shadow);
}

.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: #fff;
  color: var(--brand);
}

.navbar .navbar-nav .nav-link {
  color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand .dot {
  color: var(--brand);
}

.btn {
  padding: 8px 26px;
}

.btn-brand {
  border-color: var(--brand);
  background-color: var(--brand);
  color: #fff;
}

.btn-brand:hover {
  background-color: #d64022;
  border-color: #d64022;
  color: #fff;
}

.intro {
  margin-bottom: 36px;
  text-align: center;
}

.intro p {
  max-width: 500px;
}
.intro h6 {
  color: var(--brand);
  font-weight: 400;
  text-transform: uppercase;
}

.intro h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-box {
  align-items: center;
  display: flex;
}

.info-box img {
  width: 90px;
}

#milestone {
  background: linear-gradient(rgba(19, 13, 26, 0.85), rgba(43, 11, 83, 0.85));
}
.hight-melistoy {
  height: 40px;
}
#milestone h1,
#milestone p {
  color: #fff;
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
}

.service img {
  width: 90px;
}
.about-description {
  padding-left: 150px;
}
.about-description div p span {
  margin-right: 7px;
  font-size: 22px;
  font-weight: 600;
}
.about-image {
  height: 450px;
  width: auto;
}

.blog-post {
  position: relative;
  background-color: #0f172a;
  box-shadow: var(--shadow);
}

.blog-post .content {
  padding: 32px;
}

.blog-post a {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--brand);
  padding: 2px 12px;
  border-radius: 100px;
  text-decoration: none;
  color: #181111;
}

.blog-post h5 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog-post small {
  text-transform: uppercase;
  color: rgb(236, 230, 230);
  text-decoration: underline;
}

footer {
  background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)),
    url(../img/bg_banner1.jpg), #082032;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer .footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
}

footer .navbar-brand {
  color: #fff;
}

footer p {
  color: #adb3b9;
}

footer .social-icons a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.loader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
}

input.form-control {
  border-color: transparent;
  height: 44px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--brand);
}
